services:
  - type: web
    name: bus-management-api
    env: dotnet
    repo: https://github.com/gretakay/BusManagementSystem.git
    buildCommand: dotnet publish BusManagementSystem/BusManagementSystem.csproj -c Release -o out
    startCommand: dotnet out/BusManagementSystem.dll
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:$PORT